.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color:#0B132B;
}

.headerText {
    font-size: 24px;
    font-weight: bold;
    color: #F3F4F6;
}
